
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About | TnTel</title>
	<link rel="shortcut icon" href="images/icon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="TnTel" />
	<meta name="keywords" content="India's No 1 Broadband" />
	<meta name="author" content="Varun" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	
	
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="index.html">TnTel</a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="{{ url_for('start_page') }}">Home</a></li>
						<li class="active"><a href="#">About</a></li>
						<li><a href="{{ url_for('services_page') }}">Services</a></li>
						<li><a href="{{ url_for('plans_page') }}">Plans</a></li>
						<li><a href="{{ url_for('contact_page') }}">Contact</a></li>
						<li class="cta"><a href="{{ url_for('login_page') }}">Pay Bill</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	

	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(/static/images/bg-contact.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Who We Are?</h2>
		   					
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

	<div class="fh5co-about animate-box">
		<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
			<h2>Company History</h2>
			<p>TnTel was born out of a vision to become the most admired in-home entertainment, education, and interactive services provider in India, back in 2000.</p>
		</div>	
		<div class="container">
			<div class="col-md-12 animate-box">
				<figure>
					<img src="/static/images/jiolove.png" alt="Office" width = "1360px" height = "350px" class="img-responsive">
				</figure>
			</div>
			<div class="col-md-8 col-md-push-4 animate-box">
				<h2>A Startup Company</h2>
				<p>We started with the motto of creating a digital culture for India. We are one of the fastest growing startups in the world and own a place in the Top 50 list of Most Innovative Companies of the World. We offer ultra-affordable data services to the people through our best in-class 4G infrastructure. We also offer a wide range of Digital Services. We have our own suite of apps which offers a wide range of services like Live TV, Music Streaming, Online Newspapers and Magazines etc.</p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>

			</div>
		</div>
	</div>

	<div class="fh5co-team fh5co-light-grey-section">
		<div class="container">
			
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
						<h2>The Team</h2>
					</div>
					<div class="col-md-4 fh5co-staff text-center animate-box">
						<img src="/static/images/ambani.jpg" alt="Ambani" class="img-responsive" width="350px" height="250px">
						<h3>Mukesh Ambani</h3>
						<h4>Co-Founder, CEO</h4>
						<p>He is also the Chairman of Reliance Industries. Visionary leader who disrupted the entire telecom sector with aprupt pricing and freebies.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center animate-box">
						<img src="/static/images/mittal.jpg" alt="Sunit Mittal" width="350px" height="250px">
						<h3>Sunil Mittal</h3>
						<h4>Co-Founder, CTO</h4>
						<p>Also the chairman of Airtel. He has built a global telecom empire. He looks after the other international markets of TnTel.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center animate-box">
						<img src="/static/images/mahi.jpg" alt="MS Dhoni" class="img-responsive" height="250px">
						<h3>MS Dhoni</h3>
						<h4>Co-Founder, CFO</h4>
						<p>The former captain of the Indian Cricket Team. He is also the brand ambassador of TnTel. He is known for his leadership skills worldwide.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>
		</div>
	</div>


	
	<div class="fh5co-cta" style="background-image: url(images/image_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>Want to join our Community!</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Join Us <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
	
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>TnTel was born out of a vision to become the most admired in-home entertainment, education, and interactive services provider in India, back in 2000.</p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Services</h3>
				<ul class="float">
					<li><a href="#">Fiber Net</a></li>
					<li><a href="#">Broadband</a></li>
					<li><a href="#">Voice</a></li>
					<li><a href="#">Digital TV</a></li>
					
				</ul>
				<ul class="float">
					<li><a href="#">TnTainment</a></li>
					<li><a href="#">TnCinema</a></li>
					<li><a href="#">TnTunes</a></li>
					<li><a href="#">TnMags</a></li>
				</ul>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Follow Us</h3>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-google-plus"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; TnTel. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by CT Web Team</span></p>	
			</div>
			
		</div>
	</footer>
	</div>
	
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/js/jquery.flexslider-min.js"></script>
	
	<!-- MAIN JS -->
	<script src="/static/js/main.js"></script>

	</body>
</html>

